{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 80,
	"endOfLine": "lf",
	"parser": "typescript",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false,
				"tabWidth": 2,
				"printWidth": 80
			}
		}
	]
}
