.controller {
    display: flex;
    flex-direction: column;
    background-color: var(--greyColor200);
    padding: 40px;
    -webkit-box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.05) inset;
}
.controller__title {
    font-size: 24px;
    margin-bottom: 61px;
    color: var(--greenColor);
    font-weight: 700;
    font-size: 36px;
}
.controller__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}
.controller__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.controller__list-btn {
    width: 100%;
    border-color: var(--greyColor);
    background-color: var(--greyColor);
    transition: opacity 0.2s ease-in-out;
    padding: 11px 40px;
    border-radius: 8px;
    font-size: 24px;
    color: var(--whiteColor);
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}
.controller__list-btn:hover,
.controller__list-btn.controller__list-btn--active {
    border: 1px solid var(--greenColor);
    background-color: transparent;
}
.controller__generate {
    width: 100%;
    background-color: var(--greenColor);
    color: var(--whiteColor);
    font-size: 24px;
    font-weight: 500;
    padding: 11px 30px;
    border-radius: 8px;
}
